.autonotify-header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.autonotify-header img {
    width: 400px;
    margin-top: 40px;
}


.autonotify-body {
    background: white;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 40px;
    width: 700px;
}

#autonotify_token {
    border-radius: 20px;
    width: 300px;
}

.autonotify_validate_token {
    border-radius: 4px;
    padding: 7px;
    color: white;
    font-weight: bold;
    background: #2e8181;
    border: 0;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    transition: transform ease 0.2s;
}

.autonotify_validate_token:hover {
    transform: scale(1.1);
}

.autonotify_validate_token:active {
    transform: scale(0.9);
}
